.page-header {
    .search-text {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 20px;

        h1 {
            margin: 0;
            font-weight: 500;
            font-size: 26px;
            line-height: 36px;

            @include media-up(xs) {
                font-size: 32px;
                line-height: 42px;
            }

            @include media-up(l) {
                font-size: 45px;
                line-height: 60px;
            }
        }
    }
}